/* 
  (IMAGE) PARAMS
  =================
  @mixin imgGlitch($name, $intensity, $width, $height, $top, $left)
  =================
  1. Namespace
  2. Intensity
  3. Width (px)
  4. Height (px)
  5. Top (px, abs pos)
  6. Left (px, abs pos)
*/
@keyframes example-three-anim-1 {
  0% {
    clip: rect(94px, 250px, 91px, 0);
  }
  6.66667% {
    clip: rect(22px, 250px, 52px, 0);
  }
  13.33333% {
    clip: rect(20px, 250px, 73px, 0);
  }
  20% {
    clip: rect(26px, 250px, 85px, 0);
  }
  26.66667% {
    clip: rect(89px, 250px, 7px, 0);
  }
  33.33333% {
    clip: rect(56px, 250px, 42px, 0);
  }
  40% {
    clip: rect(80px, 250px, 32px, 0);
  }
  46.66667% {
    clip: rect(76px, 250px, 73px, 0);
  }
  53.33333% {
    clip: rect(250px, 250px, 13px, 0);
  }
  60% {
    clip: rect(99px, 250px, 5px, 0);
  }
  66.66667% {
    clip: rect(3px, 250px, 79px, 0);
  }
  73.33333% {
    clip: rect(33px, 250px, 40px, 0);
  }
  80% {
    clip: rect(35px, 250px, 83px, 0);
  }
  86.66667% {
    clip: rect(56px, 250px, 35px, 0);
  }
  93.33333% {
    clip: rect(23px, 250px, 40px, 0);
  }
  100% {
    clip: rect(43px, 250px, 55px, 0);
  }
}
@keyframes example-three-anim-2 {
  0% {
    clip: rect(56px, 250px, 54px, 0);
  }
  6.66667% {
    clip: rect(250px, 250px, 26px, 0);
  }
  13.33333% {
    clip: rect(96px, 250px, 60px, 0);
  }
  20% {
    clip: rect(59px, 250px, 98px, 0);
  }
  26.66667% {
    clip: rect(13px, 250px, 26px, 0);
  }
  33.33333% {
    clip: rect(61px, 250px, 26px, 0);
  }
  40% {
    clip: rect(85px, 250px, 34px, 0);
  }
  46.66667% {
    clip: rect(12px, 250px, 75px, 0);
  }
  53.33333% {
    clip: rect(96px, 250px, 74px, 0);
  }
  60% {
    clip: rect(53px, 250px, 32px, 0);
  }
  66.66667% {
    clip: rect(25px, 250px, 61px, 0);
  }
  73.33333% {
    clip: rect(56px, 250px, 25px, 0);
  }
  80% {
    clip: rect(35px, 250px, 23px, 0);
  }
  86.66667% {
    clip: rect(27px, 250px, 10px, 0);
  }
  93.33333% {
    clip: rect(23px, 250px, 8px, 0);
  }
  100% {
    clip: rect(42px, 250px, 75px, 0);
  }
}
.example-three > img {
  position: absolute;

}
.example-three > img:nth-child(2),
.example-three > img:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.example-three > img:nth-child(2) {

  animation: example-three-anim-1 2s infinite linear alternate-reverse;
}
.example-three > img:nth-child(3) {

  animation: example-three-anim-2 3s infinite linear alternate-reverse;
}